.CreateAccountPage {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-image: url('../../../public/Images/GuideBackground.png');
    align-content: center;
    flex-direction: column;
}

.LogoPic {
    height: 35%;
    width: 65%;
    align-self: center;
    margin-top: 20px;
}

.CreateAccountInputsContainer {
    margin-top: 50px;
    align-self: center;
    align-items: baseline;
    display: flex;
    flex-direction: column;
}

.CreateEmailErrorMessage {
    position: absolute;
    margin-left: -6px;
}

.CreateEmailErrorMessage>label {
    color: #cc0000;
}

.EmailLabel {
    font-size: 24px;
    margin-left: 5px;
    margin-top: 15px;
    position: absolute;
}

.EmailInput {
    height: 30px;
    width: 350px;
    margin-top: 40px;
    border-radius: 15px;
    font-size: 18px;
}

.CreatePasswordErrorMessage {
    position: absolute;
    margin-left: -6px;
    margin-top: 85px;
}

.CreatePasswordErrorMessage>label {
    color: #cc0000;
}

.PasswordLabel {
    font-size: 24px;
    margin-top: 100px;
    margin-left: 5px;
    position: absolute;
}

.PasswordInput {
    height: 30px;
    width: 350px;
    margin-top: 50px;
    border-radius: 15px;
    font-size: 18px;
}

.ReEnterPasswordErrorMessage {
    position: absolute;
    margin-left: -6px;
    margin-top: 170px;
}

.ReEnterPasswordErrorMessage>label {
    color: #cc0000;
}

.RePasswordLabel {
    font-size: 24px;
    margin-top: 185px;
    margin-left: 5px;
    position: absolute;
    color: white;
}

.CreateAccountButton {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    border-width: 1px;
    align-self: center;
    font-size: 20px;
}

.BacktoLoginButton {
    width: 79px;
    height: 20px;
    margin-top: 5px;
    border-radius: 4px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: white;
    align-self: center;
    font-size: 11px;
    background-color: #0B0B0B;
    color: white;
    margin-bottom: 20px;
}